body, html {
    margin: 0;
    height: 100%;
}
body {
    background-color: rgb(211, 211, 211);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: arial;
}
.main {
    background-color: white;
    border-radius: 20px;
    height: 92vh;
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}



.grid {
    background-color: white;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 5px solid gray;
}
.row {
    flex: auto;
    display: flex;
    flex-direction: row;
}
.row div {
    flex: auto;
}



.secondary {
    height: 7vh;
    width: 510px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info, button {
    font-size: 18px;
    font-weight: 600;
}
button {
    color: white;
    border-radius: 15px;
    font-family: arial;
    border-width: 0px;
}
.secondary button {
    height: 45px;
    width: 180px;
    background-color: gray;
}
.buttons {
    width: 510px;
    margin: 12px 0 17px 0;
    display: flex;
    justify-content: space-between;
}
.buttons button {
    width: 110px;
    height: 50px;
}
.clear {
    background-color: rgb(223, 58, 58);
}
.eraser {
    background-color: rgb(236, 184, 13);
}
.normal {
    background-color: rgb(34, 140, 34);
}
.rainbow {
    background-color: rgb(231, 106, 181);
}